
@model IEnumerable<ChatHub.Models.Message>
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using System;
@{
    ViewData["Title"] = "Index";
    string curruser = @Context.Session.GetString("user");
    
}


@if (curruser == null || curruser == "")
{
    Context.Response.Redirect("/User/Login");
}

<img src="./Images/Hub_logo.png" class="w-25" alt="Alternate Text" />
<div class="row">
    <div class="col-6 text-white">
        <ul id="messagesList">
            @foreach (var item in Model)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.Username)

                    @Html.DisplayFor(modelItem => item.Text)

                    @Html.DisplayFor(modelItem => item.Date)
                </li>
            }
        </ul>
    </div>
</div>
<div class="container">
    <form action="/Chat/Create" method="post">
        <label for="userid">User</label><br>
        <input type="text" id="userInput" name="userid" value=""><br>
        <label for="text">Message</label><br>
        <input type="text" id="messageInput" name="text" value="Testing message"><br><br>
        <input type="submit" value="Submit" id="sendButton">
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>


<script type="text/javascript">

    let globalname;
    globalname = '@Context.Session.GetString("user")';
    console.log(globalname);

</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


